@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  background-color: #fafafa;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

button {
  background-color: white;
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}

button span {
  line-height: 2rem;
  transition: all 0.3s ease-in;
}

button:hover {
  background-color: #c3c3c3;
}

h2 {
  margin-bottom: -1.5rem;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.75rem;
}

/* New todo */
#new-todo {
  min-width: 25rem;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #c3c3c3;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

input,
textarea {
  display: block;
  width: 100%;
  margin: 0.3rem 0;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  padding: 0.3rem;
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
}

/* Todo list */
#todo-list li {
  list-style: none;
  font-size: 0.9rem;
  margin: 0.5rem;
  width: 25rem;
  padding: 1rem;
  border: 1px solid #c3c3c3;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: all 0.3s ease;
}

#todo-list li:hover,
#new-todo:hover {
  border: 1px solid #919191;
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.1);
}

/* Checked as done */
.done h3,
.done p {
  text-decoration: line-through;
  font-style: italic;
}

.hidden {
  display: none;
}
